@import "css/callender-style.scss";
@import "css/reset-style.scss";

$pink1: #fff0f6;
$pink2: #ffe6f0;
$pink3: #ffb6c9;
$pink4: #ff6fae;
$accent: #ff2d8a;
$text: #55273a;
$gray-bg: #f2f2f7;
$border-color: #d9d9d9;

:root {
  font-family: "Poppins", sans-serif;
}

.ant-btn-primary {
  background-color: $pink4;
}

.ant-btn-link {
  color: $accent !important;

  &:hover {
    opacity: 40%;
  }
}

/* custom style input -- start */
.ant-input {
  border: none !important;
  position: relative !important;
  display: block;
  border-radius: 0px !important;
}

.form-input {
  //border-radius: 5px !important;
}

.input-wrapper {
  //background-color: white;
}

.input-top {
  border-radius: 5px 5px 0 0 !important;
}

.input-bottom {
  border-radius: 0 0 5px 5px !important;
}

.input-wrapper-border {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 11px;
    bottom: 0;
    width: calc(100% - 11px);
    height: 1px;
    background-color: $border-color;
  }
}

.ant-input-focused, .ant-input:focus {
  box-shadow: none !important;
}

input {
  caret-color: $accent; /* đổi màu con trỏ nhấp nháy thành đỏ */
}

/* custom style input -- end */

.border-top-none {
  border-top: none !important;
}

.border-none {
  border: none !important;
}

.ant-drawer-body {
  background: $gray-bg;
}

.body-model {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ant-drawer-body {
  padding: 18px !important;
}

.ant-input-group-addon {
  border: none !important;
  background-color: white !important;
}

//.ant-input-group .ant-input {
//  &:focus {
//    z-index: 0 !important;
//  }
//  &:hover {
//    z-index: 0 !important;
//  }
//}

.ant-input-group-wrapper {
  padding: 4px 11px;
  background-color: white;
}

.ant-input-group {
  display: flex !important;
  justify-content: space-between;
}

.ant-input-group-addon {
  width: auto !important;
}
